<template>
  <div class="everyRocket">
    <div class="characteristicsH1">
      <h1>Main characteristics</h1>
    </div>
    <div class="slides">
      <div class="slides__everySlide">
        <div class="slides__everySlide__slide">
          <div class="left">
            <h6>Falcon9</h6>
            <h2>OVERVIEW</h2>
            <div class="parametr">
              <div class="parametrName">HEIGHT</div>
              <div class="parametrValue">
                70 m <span class="grey">/229.6 ft</span>
              </div>
            </div>
            <div class="parametr">
              <div class="parametrName">DIAMETER</div>
              <div class="parametrValue">
                3.7 m <span class="grey">/12 ft</span>
              </div>
            </div>
            <div class="parametr">
              <div class="parametrName">MASS</div>
              <div class="parametrValue">
                549,054 kg <span class="grey">/1,207,920 lb</span>
              </div>
            </div>
            <div class="parametr">
              <div class="parametrName">PAYLOAD TO LED</div>
              <div class="parametrValue">
                22,800 kg <span class="grey">/50,265 lb</span>
              </div>
            </div>
            <div class="parametr">
              <div class="parametrName">PAYLOAD TO GTO</div>
              <div class="parametrValue">
                8,300 kg <span class="grey">/18,300 lb</span>
              </div>
            </div>
            <div class="parametr">
              <div class="parametrName">PAYLOAD TO MARS</div>
              <div class="parametrValue">
                4,020 kg <span class="grey">/8,860 lb</span>
              </div>
            </div>
          </div>
          <div class="right"></div>
        </div>
        <div class="slides__everySlide__slide">
          <div class="left">
            <h6>FALCON HEAVY</h6>
            <h2>OVERVIEW</h2>
            <div class="parametr">
              <div class="parametrName">HEIGHT</div>
              <div class="parametrValue">
                70 m <span class="grey">/229.6 ft</span>
              </div>
            </div>
            <div class="parametr">
              <div class="parametrName">WIDTH</div>
              <div class="parametrValue">
                12.2 m <span class="grey">/39.9 ft</span>
              </div>
            </div>
            <div class="parametr">
              <div class="parametrName">MASS</div>
              <div class="parametrValue">
                1,420,788 kg <span class="grey">/3,125,735 lb</span>
              </div>
            </div>
            <div class="parametr">
              <div class="parametrName">PAYLOAD TO LED</div>
              <div class="parametrValue">
                63,800 kg <span class="grey">/140,660 lb</span>
              </div>
            </div>
            <div class="parametr">
              <div class="parametrName">PAYLOAD TO GTO</div>
              <div class="parametrValue">
                26,700 kg <span class="grey">/58,860 lb</span>
              </div>
            </div>
            <div class="parametr">
              <div class="parametrName">PAYLOAD TO MARS</div>
              <div class="parametrValue">
                16,800 kg <span class="grey">/37,040 lb</span>
              </div>
            </div>
          </div>
          <div class="right"></div>
        </div>
        <div class="slides__everySlide__slide black">
          <div class="left">
            <h6>DRAGON</h6>
            <h2>OVERVIEW</h2>
            <div class="parametr">
              <div class="parametrName">HEIGHT</div>
              <div class="parametrValue">
                8.1 m <span class="grey">/26.7 ft</span>
              </div>
            </div>
            <div class="parametr">
              <div class="parametrName">DIAMETER</div>
              <div class="parametrValue">
                3.7 m <span class="grey">/12 ft</span>
              </div>
            </div>
            <div class="parametr">
              <div class="parametrName">CAPSULE VOLUME</div>
              <div class="parametrValue">
                9.3 m³ <span class="grey">/ 328 ft³</span>
              </div>
            </div>
            <div class="parametr">
              <div class="parametrName">TRUNK VOLUME</div>
              <div class="parametrValue">
                37 m³ <span class="grey">/ 1300 ft³</span>
              </div>
            </div>
            <div class="parametr">
              <div class="parametrName">LAUNCH PAYLOAD MARS</div>
              <div class="parametrValue">
                6,000 kg <span class="grey">/13,228 lbs</span>
              </div>
            </div>
            <div class="parametr">
              <div class="parametrName">RETURN PAYLOAD MARS</div>
              <div class="parametrValue">
                3000 kg <span class="grey">/6,614 lbs</span>
              </div>
            </div>
          </div>
          <div class="right"></div>
        </div>
        <div class="slides__everySlide__slide black">
          <div class="left">
            <h6>Starship</h6>
            <h2>OVERVIEW</h2>
            <div class="parametr">
              <div class="parametrName">HEIGHT</div>
              <div class="parametrValue">
                120 m <span class="grey">/394 ft</span>
              </div>
            </div>
            <div class="parametr">
              <div class="parametrName">DIAMETER</div>
              <div class="parametrValue">
                9 m <span class="grey">/30 ft</span>
              </div>
            </div>
            <div class="parametr">
              <div class="parametrName">PAYLOAD TO LED</div>
              <div class="parametrValue">
                100+ t <span class="grey">/220+ klb</span>
              </div>
            </div>
          </div>
          <div class="right"></div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "EveryRocket",
  props: {},
};
</script>
<style>
.everyRocket {
  background-color: rgb(24, 28, 31);
}
.characteristicsH1 {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  font-size: 1.5rem;
}

.black {
  background: #000;
}
.slides {
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.slides__everySlide {
  width: 100%;
  height: 100%;
}
.slides__everySlide__slide {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  height: 100vh;
}
.right,
.left {
  padding: 10vw;
}
h6 {
  font-size: 2rem;
}
h2 {
  font-size: 4rem;
}
.parametr {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  padding: 10px;
  max-width: 30vw;
}
.grey {
  color: grey;
}
.rocket {
  height: 50vh;
}
</style>
